@media screeen and (min-width: 480px) {


	/*Two Column layout*/


	#primary{
		  width: 50%;
		  float: left;

}


	#secondary {
		  width: 40%;
		  float: right;

}

}


}

@media screen and (min-width: 660px) {
	

}